---
layout: default
---
<div class="jekmdl-crumbs mdl-color-text--grey-500">
{{ site.title }} &gt; {{ page.title }}
</div>
<h2>{{ page.title }}</h2>
<div class="jekmdl-post-content">
  
<div class="jekmdl-crumbs mdl-color-text--grey-500">
{{ site.time | date_to_long_string }} &gt; {% if page.author %}{{ page.author }}{% endif %}
</div>
{{ content }}
</div>

<div>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfaW7GIIg3lECt_7PBLJIgo9DC6iYlu_67E7Zdkf5d9Am9zxQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
